[package]
name = "termdaw"
version = "0.1.0"
authors = ["Cody Bloemhard <cblmhrd@live.nl>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mlua = { version = "0.5", features = ["lua53", "vendored"] }
hound = "3.4.0"
rubato = "0.8.1"
toml = "0.5.8"
serde = { version = "1.0.125", features = ["derive"] }
